@import "constants.scss";
@import "isomorphic.scss";

@import "../../src/components/TopNav.scss";
@import "../../src/components/Preloading.scss";

@import "../../src/pages/Error.scss";
@import "../../src/pages/Home.scss";
// @import "../../src/pages/Layout.scss";
@import "../../src/pages/NotFound.scss";
@import "../../src/pages/Users.scss";

html, body {
	margin: 0;
	padding: 0;
}

body, button, input, textarea, select
{
	font-family : Arial, Helvetica, Sans;
	font-size   : 18pt;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button
{
	background : none;
	border     : none;
	outline    : none;
	padding    : 0;

	font-weight : bold;
	// color       : $base-color;

	transition: all 30ms ease-out;

	// &:active
	// {
	// 	color: $base-color-ligher;
	// }
}

a
{
	color: inherit;
}

// a:active
// {
// 	color: $base-color-darker;
// }

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.rrui__button--border .rrui__button__button
{
	padding-top    : 0.5em !important;
	padding-bottom : 0.3em !important;
	font-weight    : normal;
	font-size      : inherit;
}

.rrui__text-input__field
{
	padding-top    : 0.3em;
	padding-bottom : 0.3em;
	border-top-width   : 0;
	border-left-width  : 0;
	border-right-width : 0;
	outline            : none;
}

.rrui__text-input label
{
	top: 0.4rem !important;
}